<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3-R6pkdrMaIP3X6wNWp9HgkhW3QYF2H0</string>
	<key>GCM_SENDER_ID</key>
	<string>824729800735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Cibertec.app-walkie-puppy</string>
	<key>PROJECT_ID</key>
	<string>walkiepuppy-b83fd</string>
	<key>STORAGE_BUCKET</key>
	<string>walkiepuppy-b83fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824729800735:ios:4f45f9752300609c6b452a</string>
</dict>
</plist>